<div class="flex flex-col min-h-screen lg:w-11/12 mx-auto w-11/12">
  <main class="flex-1 flex">
    <app-filter-sidebar (filtersChanged)="onFiltersChanged($event)" />
    <section class="flex-1 py-12 px-4 md:px-10 lg:px-3">
      <div class="container mx-auto">
        <h1
          class="text-3xl font-bold tracking-tighter sm:text-4xl mb-8 text-zinc-600"
        >
          Eğitimleri Keşfet
        </h1>
        <app-course-list [courses]="courses" />
      </div>
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </section>
  </main>
</div>
