<p-card class="flex flex-col w-auto" styleClass="rounded">
  <!-- Card Image -->
  <ng-template pTemplate="header">
    <img
      [appResourceUrl]="course.imageUrl"
      [defaultUrl]="defaultImage"
      alt="Course Title"
      class="w-full h-48 object-cover rounded-t-md p-0"
    />
  </ng-template>

  <h2 class="text-2xl font-bold">{{ course.title }}</h2>

  <div class="flex items-center space-x-2 text-sm text-gray-600 mb-2">
    <p-avatar
      image="instructorImage"
      label="{{ course.createdUser.firstName[0] }} "
      size="large"
      shape="circle"
      styleClass="h-12 w-12"
    ></p-avatar>
    <span class="font-medium">
      {{ course.createdUser.firstName }} {{ course.createdUser.lastName }}
    </span>
  </div>

  <!-- Tags -->
  <div class="flex flex-wrap gap-2 my-4 text-sm">
    <ng-container *ngFor="let tag of course.contentTags.$values">
      <p-chip class="badge">{{ tag.tagName }}</p-chip>
    </ng-container>
  </div>

  <!-- Stats -->
  <div class="flex justify-between text-sm text-gray-600 mt-1">
    <div class="flex items-center">
      <lucide-icon [img]="Users" class="h-4 w-4 mr-1"></lucide-icon>
      <span>{{ course.viewCount }} Görüntüleme</span>
    </div>
    <div class="flex items-center">
      <lucide-icon
        [img]="Star"
        class="h-4 w-4 mr-1 fill-yellow-400 text-yellow-400"
      ></lucide-icon>
      <span>{{ course.rating }} ({{ course.ratingCount }})</span>
    </div>
    <div class="flex items-center">
      <lucide-icon [img]="Clock" class="h-4 w-4 mr-1"></lucide-icon>
      <span>{{ course.duration | duration }}</span>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-between gap-3">
      <button
        [routerLink]="'/instructor/{{userId}}/analisis/{{course.id}}'"
        variant="outline"
        class="w-1/2 text-center justify-center border flex px-2 py-1 rounded hover:bg-slate-200 transition-all"
      >
        <lucide-icon [img]="barchartIcon" class="h-4 w-4 my-auto mr-2" />
        Analiz
      </button>
      <button
        variant="outline"
        class="w-1/2 text-center justify-center border flex px-2 py-1 rounded hover:bg-slate-200 transition-all"
      >
        <lucide-icon [img]="pencilIcon" class="h-4 w-4 my-auto mr-2" /> Düzenle
      </button>
    </div>
  </ng-template>
</p-card>
