<aside class="w-72 bg-white shadow-md h-full p-5">
  <div class="flex flex-col">
    <h2 class="text-2xl font-bold mb-4 p-5 pb-2 text-center">Admin Paneli</h2>
    <nav class="flex flex-col gap-3">
      <a
        routerLinkActive="active-link"
        routerLink="/admin/users"
        class="flex items-center hover:bg-gray-100 p-4 rounded"
      >
        <lucide-icon [img]="userRoundPen" class="mr-2 h-4 w-4"></lucide-icon>
        Kullanıcıları Yönet
      </a>
      <a
        routerLink="/admin/courses"
        routerLinkActive="active-link"
        class="flex items-center p-4 mt-2 hover:bg-gray-100 rounded"
      >
        <lucide-icon [img]="barChart2" class="mr-2 h-4 w-4"></lucide-icon>
        Eğitimleri Yönet
      </a>
      <a
        routerLink="/admin/categoryTag"
        routerLinkActive="active-link"
        class="flex items-center p-4 mt-2 hover:bg-gray-100 rounded"
      >
        <lucide-icon [img]="bringToFront" class="mr-2 h-4 w-4"></lucide-icon>
        Kategori ve Etiketleri Yönet
      </a>
    </nav>
  </div>
</aside>
