<div class="flex flex-col min-h-screen">
  <main class="flex-1 py-12 px-4 md:px-6">
    <div class="container mx-auto max-w-6xl">
      <!-- Video Player -->
      <video
        class="w-full"
        width="100%"
        height="auto"
        controls
        [appResourceUrl]="course?.videoUrl"
      ></video>

      <!-- Instructor Info & Date -->
      <div class="flex items-center justify-between gap-10 mb-6 mt-4">
        <app-instructor-info
          [instructor]="course?.createdUser"
        ></app-instructor-info>
        <span class="text-sm text-gray-500">
          {{ course?.createdDate | date : "dd.MM.yyyy" }} Tarihinde Yüklendi
        </span>
      </div>

      <!-- Course Info -->
      <app-course-info
        [courseInfo]="course"
        [userID]="currentUser?.userID"
        [contentId]="paramValue"
      ></app-course-info>

      <app-comment-section [courseID]="course?.id" />
    </div>
  </main>
</div>
