<section>
  <div class="p-fluid">
    <h3 class="text-xl font-semibold mb-2">Yorum Ekle</h3>
    <form [formGroup]="commentForm" class="flex flex-col gap-4">
      <textarea
        pInputTextarea
        formControlName="newComment"
        placeholder="Yorumunuzu buraya yazın..."
        rows="3"
        class="p-1 border-b"
        maxlength="300"
      ></textarea>
      <button
        class="px-16 py-2 justify-end bg-amber-500 hover:bg-amber-600 text-slate-100 rounded-xl ml-auto transition-all"
        (click)="handleAddComment()"
      >
        Yorum Yap
      </button>
    </form>
  </div>

  <h2 class="text-2xl font-semibold mb-6 mt-8">Yorumlar</h2>
  <div *ngIf="comments.length > 0; else noComments" class="space-y-6 mb-8">
    <div *ngFor="let comment of comments" class="mb-4">
      <div class="p-card-header flex justify-between">
        <div class="flex space-x-1 pt-3">
          <p-avatar size="large" class="mr-2" shape="circle">
            <img
              *ngIf="comment.user.image"
              [appResourceUrl]="comment.user.image"
            />
          </p-avatar>

          <div class="flex flex-col justify-start w-full">
            <div>
              <span class="font-semibold"
                >{{ comment.user.firstName }} {{ comment.user.lastName }}</span
              >
              <span
                class="text-sm text-gray-500 ml-2"
                *ngIf="comment.updatedDate"
              >
                (Düzenlendi)
              </span>
            </div>
            <p *ngIf="editingCommentId !== comment.id">
              {{ comment.description }}
            </p>
            <!-- Yorum Düzenleme Alanı -->
            <div>
              <textarea
                *ngIf="editingCommentId === comment.id"
                [(ngModel)]="editedCommentText"
                class="p-2 border rounded lg:min-w-96"
                pInputTextarea
              ></textarea>
              <div
                *ngIf="editingCommentId === comment.id"
                class="flex mt-2 gap-2"
              >
                <button
                  class="px-4 py-2 justify-end bg-red-500 hover:bg-red-600 text-slate-100 rounded-xl"
                  (click)="editingCommentId = null"
                >
                  İptal
                </button>
                <button
                  *ngIf="comment.user.id === currentUser.userID"
                  class="px-4 py-2 justify-end bg-amber-500 hover:bg-amber-600 text-slate-100 rounded-xl ml-auto"
                  (click)="handleSaveEdit()"
                >
                  Kaydet
                </button>
              </div>
            </div>

            <div class="flex mt-2 gap-4 ml-2">
              <button
                pButton
                icon="pi pi-thumbs-up"
                [appHighlightLike]="comment.likes.$values"
                [currentUserId]="currentUser.userID"
                (click)="handleToggleLike(comment)"
              >
                <span class="ms-1">{{ comment.likes.$values.length }}</span>
              </button>
              <div *ngIf="comment.user.id === currentUser.userID">
                <button
                  pButton
                  icon="pi pi-pencil"
                  class="p-button-text"
                  (click)="startEditingComment(comment)"
                ></button>

                <button
                  pButton
                  icon="pi pi-trash"
                  class="p-button-text"
                  (click)="handleDeleteComment(comment.id)"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <span class="text-sm text-gray-500">
          {{ comment.createdDate | date : "dd.MM.yyyy" }}
        </span>
      </div>
    </div>
  </div>

  <ng-template #noComments>
    <div class="text-center">
      <i class="pi pi-book-open text-4xl text-gray-400"></i>
      <h3 class="mt-4 text-lg">
        Henüz yorum yapılmamış. İlk yorumu siz yapın!
      </h3>
    </div>
  </ng-template>
</section>
